{% set workshop_group_users = [] %}
{% for _worker in groups['tier1_agents'] | default([]) %}
{% set _ = workshop_group_users.append('group_%02d' | format(loop.index)) %}
{% endfor %}
{% set jupyterhub_admin_users = tier1.jupyterhub.jupyterhub_admin_users | default([]) %}
{% set jupyterhub_allowed_users = (workshop_group_users + jupyterhub_admin_users) | unique | list %}

c = get_config()

{% if oidc.oidc_enabled %}
from oauthenticator.generic import GenericOAuthenticator

issuer = "{{ oidc.oidc_issuer_url }}".rstrip("/")

c.JupyterHub.authenticator_class = GenericOAuthenticator
c.GenericOAuthenticator.authorize_url = issuer + "/protocol/openid-connect/auth"
c.GenericOAuthenticator.token_url = issuer + "/protocol/openid-connect/token"
c.GenericOAuthenticator.userdata_url = issuer + "/protocol/openid-connect/userinfo"

c.GenericOAuthenticator.client_id = "{{ oidc.oidc_client_id }}"
c.GenericOAuthenticator.client_secret = "{{ oidc.oidc_client_secret }}"
c.GenericOAuthenticator.scope = {{ oidc.oidc_scope | to_json }}
c.GenericOAuthenticator.username_claim = "{{ oidc.oidc_username_claim }}"
c.GenericOAuthenticator.tls_verify = {{ oidc.oidc_tls_verify | default(true) | to_json }}

public_url = "{{ tier1.jupyterhub.jupyterhub_public_url }}".rstrip("/")
c.GenericOAuthenticator.oauth_callback_url = public_url + "/hub/oauth_callback"

# Permit only generated workshop groups and configured administrators.
c.Authenticator.allow_all = False
c.Authenticator.allowed_users = set({{ jupyterhub_allowed_users | to_json }})
c.Authenticator.admin_users = set({{ jupyterhub_admin_users | to_json }})

{% else %}
c.JupyterHub.authenticator_class = "nativeauthenticator.NativeAuthenticator"
{% endif %}

# Admins
c.Authenticator.admin_users = set({{ tier1.jupyterhub.jupyterhub_admin_users | to_json }})

# Persist hub DB
c.JupyterHub.db_url = "sqlite:////data/jupyterhub.sqlite"

# Spawner
c.JupyterHub.spawner_class = "dockerspawner.DockerSpawner"
c.DockerSpawner.image = "jupyter/minimal-notebook:python-3.11"
c.DockerSpawner.network_name = "bridge"
c.DockerSpawner.remove = True
c.DockerSpawner.notebook_dir = "/home/jovyan/work"
c.DockerSpawner.volumes = {"jupyterhub-user-{username}": "/home/jovyan/work"}

c.Spawner.environment = {
    "MLFLOW_TRACKING_URI": "http://{{ inventory_hostname }}:{{ tier1.mlflow.mlflow_port }}",
}

c.JupyterHub.bind_url = "http://0.0.0.0:8000"